<!-- views/partials/navbar.handlebars -->

<nav class="navbar navbar-expand-lg navbar-darkght bg-dark">
  <a class="navbar-brand" href="/">Midi Hero</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item active"></li>
        <a class="nav-link" href="/levels">Play the drums</a>
      </li>  
    </ul>
  </div>
</nav>