<script src="./js/webaudio-tinysynth.js"></script>
<script src="./js/levels/lawandorder.js"></script>
<script src="./js/game.js"></script>


<div class="container text-center">
  <div class="keys2">
    <div data-key="65" class="key">
      <kbd>A</kbd>
      <span class="sound">KICK</span>
    </div>
    <div data-key="83" class="key">
      <kbd>S</kbd>
      <span class="sound">RIMSHOT</span>
    </div>
    <div data-key="68" class="key">
      <kbd>D</kbd>
      <span class="sound">TRIANGLE</span>
    </div>
    <div data-key="70" class="key">
      <kbd>F</kbd>
      <span class="sound">BOOP</span>
    </div>
  </div>


  <div id="screen">
      <div id="stage">
          <div class="notation" id= "track1-div"></div>
          <div class="notation" id= "track2-div"></div>
          <div class="notation" id= "track3-div"></div>
          <div class="notation"  id= "track4-div"></div>
      </div>
  </div>
  



    <div style="float:right;">

{{!-- shonky scoreboard --}}
      <h2 style="display:inline;">Score:</h2><h2 id="score" style="display:inline;">0</h2> 
      <br>
      Law and Order
      <br>
      
      <button onclick="playMidi()">Play</button>
      <button onclick="stopMidi()">Stop</button>
      <div id="status"></div>
      <br/>
      
  
      {{!-- Loop : <input type="checkbox" onchange="synth.setLoop(this.checked)"/><br/> --}}
      MasterVol<br/>
      <input type="range" value="50" min="0" max="100" oninput="synth.setMasterVol(this.value/100)"/><br/>
      ReverbLev<br/>
      <input type="range" value="50" min="0" max="100" oninput="synth.setReverbLev(this.value/100)"/><br/>
      <input type="file" onchange="loadMidi(this.files)"/><br>
      <br/>
      Quality: <select onchange="synth.setQuality(this.selectedIndex)"><option>Quality=0</option><option selected>Quality=1</option></select>
      <br/>
      Timbre : <select id="prog" onchange="SetProgram(this.selectedIndex)"></select>
      
    </div>
      
</div>