<style scoped>
  
  /* Background styling */
  body {
    background-color: rgb(58, 58, 58); 

    
  }

  </style>

<div class="container box">
  
  {{!-- <div style="height: 1000px; width: 760px; left: left; background-color:lightcoral; z-index:-1; position: fixed;"></div> --}}
  <div style="background-color: lightblue; height: 100%;" class="container text-center">

    <div class="keys2">
      <div data-key="65" class="key">
        <kbd>A</kbd>
        <span id="button1-name" class="sound">&nbsp;</span>
      </div>
      <div data-key="83" class="key">
        <kbd>S</kbd>
        <span id="button2-name" class="sound">&nbsp;</span id="button1-name">
      </div>
      <div data-key="68" class="key">
        <kbd>D</kbd>
        <span id="button3-name" class="sound">&nbsp;</span id="button1-name">
      </div>
      <div data-key="70" class="key">
        <kbd>F</kbd>
        <span id="button4-name" class="sound">&nbsp;</span id="button1-name">
      </div>
    </div>

    <div id="screen">
<img src="/images/topedge.png" id="line" style="display:none; width: 460px; height: 5px; position: relative; top: 0px; left: 10px; z-index:300;">
        <div id="prompt">
          <br>
          <H1> PRESS SPACE TO START</H1>
        </div>

        <div id="stage">
            <div class="notation" id= "track1-div"></div>
            <div class="notation" id= "track2-div"></div>
            <div class="notation" id= "track3-div"></div>
            <div class="notation"  id= "track4-div"></div>
        </div>
    </div>
    



      <div id="panel">

  {{!-- shonky scoreboard --}}
        <h5 id="status"></h5><br>
        Score<br>
        {{!-- <h2 style="display:inline;">Score:</h2> --}}
        <h1 id="score" style="display:inline;">0</h1><h4 id="targetScore" style="display:inline;"></h4> 
        <br>
         <h3 id="misses" style="display:inline;">0</h3>&nbsp;Mishits
        <br>
        
        <br/>
        
    
        {{!-- Loop : <input type="checkbox" onchange="synth.setLoop(this.checked)"/><br/> --}}
        Volume<br/>
        <input type="range" value="50" min="0" max="100" oninput="synth.setMasterVol(this.value/100)"/><br/>
        Reverb<br/>
        <input type="range" value="50" min="0" max="100" oninput="synth.setReverbLev(this.value/100)"/><br/>
        {{!-- <input type="file" onchange="loadMidi(this.files)"/><br> --}}
        <br/>
        <select onchange="synth.setQuality(this.selectedIndex)"><option> LO-FI </option><option selected> HI-FI </option></select>
        <br/>
        <select id="prog" onchange="SetProgram(this.selectedIndex)"></select>
        <br><br>
        <div id="highscores-div">
        </div>


      </div>
        


  </div>
  <img src="/images/bottomedge.png" style="width: 460px; height: 5px; position: relative; top: -16px; left: 24px;">
</div>
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

<script src="/js/webaudio-tinysynth.js"></script>
<script src="/js/levels/{{levelName}}.js"></script>
<script src="/js/game.js"></script>