<style scoped>
  body {
    background-image: url("/images/background.jpg"); 
    background-size: 100% auto;
  }
</style>

{{#if userContext}}
  <div class="jumbotron">
  <h1 class="text-center">Hi {{userContext.userinfo.given_name}}!</h1>
  
  </div>
{{else}}
  <h1 class="text-center">Midi DDR</h1>
{{/if}}