
<style scoped>
p {
    padding-top: 50px;
}
</style>

<h1>Levels:</h1>
<div class="imageRow">
    <p>
        <a href="/level/lawandorder">Law and Order</a>
        <img src="images/lawAndOrder.png" width="300" height="200">
    </p>
    <p>
        <a href="/level/intheairtonight">In the Air Tonight</a>
        <img src="images/inTheAirTonight.png" width="300" height="200">
    </p>
</div>
