
<style scoped>
 .container {
    text-align: center;
    margin-top: 400px;
 }
 
 body {
    background-image: url("/images/background_level.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
  }

h1 {
    font-family: sans-serif;
    color:white;
    font-size: 50px;
}


</style>

    <p>
        <h1>Choose your Level:</h1>
        <a href="/level/lawandorder">
        <img src="images/lawAndOrder.png" width="300" height="200">
        </a>
        <a href="/level/intheairtonight">
        <img src="images/inTheAirTonight.png" width="300" height="200">
        </a>
        <a href="/levels">
        <img src="images/coming_soon.jpg" width="300" height="200">
        </a>
    </p>
