
<style scoped>
 .container {
    text-align: center;
    margin-top: 400px;
 }
 
 body {
    background-image: url("/images/background_level.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
  }

h1 {
    font-family: sans-serif;
    font-size: 50px;
    padding-bottom: 10px;
    text-decoration: none;
    color: #666;
         
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), color-stop(50%, rgba(0,0,0,.5)), to(rgba(0,0,0,1)));
}
h1:after {
        content : 'Choose your Level:';
        color: white;
        text-shadow: 0 1px 0 white;
}

</style>

    <p>
        <h1></h1>
        <a href="/level/lawandorder">
        <img src="images/lawAndOrder.png" width="300" height="200">
        </a>
        <a href="/level/intheairtonight">
        <img src="images/inTheAirTonight.png" width="300" height="200">
        </a>
        <a href="/level/ghostbusters">
        <img src="images/ghostbusters.png" width="300" height="200">
        </a>
    </p>
