.list-group-item {
  line-height: 2.5;
}

html {
  font-size: 10px;
  background: url bottom center;
  background-size: cover;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  background-image: url("/public/images/background1.jpg");
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  
}


.keys2 {
  height: 140px;
}

.key {
  float:left; 
/* james added this float and changed the keys container div class to keys2 in the html */


  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}


/* the div that crops the big scrolling div */
#screen {
  position: absolute; 
  height:600px;
  width:500px; 
  overflow:hidden;
  
}

/* the big scrolling div */
#stage {
  position: absolute;
  background-color: white;
  /* padding-top: 20px */
  
}

/* the black line at the top - not in use */
.baseline {
  background-color: black; 
  height: 4px; 
  width: 100%;
}

/* the class for the individual track channels */
.notation {
  background-color: lightgray;
  width: 100px;
  margin: 0 10px 0 10px;
  float: left;
  border: .4rem solid black;
  border-radius: .5rem;
}

/* note on */
.noteOn {
  /* background-color:rgb(97, 97, 97); */
  border-top: 10px solid black;
  width: 100%;
}

/* gap between notes */
.noteOff {
 
  width: 100%;
}


#prompt {
  background-color: lightgreen;
  padding: 20px;
  z-index: 100;
  /* width:200px; */
  /* height:100px; */
  position:absolute;
  top:40%;
  left:50%;
  margin:-50px 0 0 -100px; /* [-(height/2)px 0 0 -(width/2)px] */
  
}